* {
  box-sizing: border-box;
}

.projects {
  background-color: black;
  height: 100vh;
  color: aliceblue;
  font-family: "Caladea", serif;
}

h1,
h2,
h3 {
  margin: 0;
  padding: 0;
}
.header {
  width: 100%;
  height: 8vh;
  margin: 0;
  padding: 0;
  background-color: black;
}
.container {
  display: flex;
  height: 90%;

  align-items: center;
}
.projects__contain {
  height: 85vh;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-right: 5%;
  margin-left: 5%;
}
.projects__card {
  width: 350px;
  height: 40%;
  margin: 20px;
}
.projects__card .face {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
  border-radius: 10px;
  overflow: hidden;
  transition: 0.5s;
}
.projects__card .front {
  transform: perspective(600px) rotateY(0deg);
  box-shadow: 0 5px 15px 8px rgb(0, 0, 0);
}

.projects__card .front .im {
  width: 100%;
  object-fit: fill;
}

.projects__card .front h3 {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 45px;
  line-height: 45px;
  color: #fff;
  background: rgba(0, 0, 0, 0.4);
  text-align: center;
}

.projects__card .back {
  transform: perspective(600px) rotateY(180deg);
  background: rgb(3, 35, 54);
  color: #f3f3f3;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  text-align: center;
  box-shadow: 0 5px 15px 8px rgb(0, 0, 0);
}
.projects__card .back .link {
  border-top: solid 1px #f3f3f3;
  height: 50px;
  line-height: 50px;
  display: flex;
  justify-content: center;
}

.projects__card .back .link a {
  color: #f3f3f3;
  margin-left: 10px;
  margin-right: 10px;
  font-size: 45px;
  padding-top: 2px;
}
.projects__card .back h3 {
  font-size: 30px;
  margin-top: 20px;
  letter-spacing: 2px;
}
.projects__card .back p {
  letter-spacing: 1px;
  margin-left: 8px;
  margin-right: 8px;
}
.projects__card:hover .front {
  transform: perspective(600px) rotateY(180deg);
}
.projects__card:hover .back {
  transform: perspective(600px) rotateY(360deg);
}
.abrir {
  transform: translateX(0%);
  transition: all 1.5s;
}
.x1 {
  width: 350px;
  transform: translateX(-150%);
}
.x2 {
  width: 350px;
  transform: translateX(-350%);
}
.x3 {
  width: 350px;
  transform: translateX(-400%);
}
.x4 {
  width: 350px;
  transform: translateX(-150%);
}

/**************************************************/
/**************************************************/
@media (min-width: 355px) and (max-width: 550px) {
  * {
    box-sizing: border-box;
  }

  .projects {
    background-color: black;
    height: 100%;
    color: aliceblue;
    font-family: "Caladea", serif;
  }

  h1,
  h2,
  h3 {
    margin: 0;
    padding: 0;
  }
  .header {
    width: 100%;
    height: 8vh;
    margin: 0;
    padding: 0;
    background-color: black;
  }
  .container {
    display: flex;
    height: 100%;
    align-items: center;
    justify-content: center;
    margin-top: 30px;
  }
  .projects__contain {
    height: 100%;
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    margin-right: 0;
    margin-left: 0;
    flex-direction: column;
  }
  .projects__card {
    position: relative;
    width: 280px;
    height: 250px;
    margin: 20px;
    z-index: 2;
  }
  .projects__card .face {
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    border-radius: 10px;
    overflow: hidden;
    transition: 0.5s;
  }
  .projects__card .front {
    transform: perspective(600px) rotateY(0deg);
    box-shadow: 0 5px 15px 8px rgb(0, 0, 0);
  }
  .projects__card .front .im {
    width: 100%;
    height: 100%;
    object-fit: fill;
  }
  .projects__card .front h3 {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 45px;
    line-height: 45px;
    color: #fff;
    background: rgba(0, 0, 0, 0.4);
    text-align: center;
  }
  .projects__card .back {
    transform: perspective(600px) rotateY(180deg);
    background: rgb(3, 35, 54);
    color: #f3f3f3;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-align: center;
    box-shadow: 0 5px 15px 8px rgb(0, 0, 0);
  }
  .projects__card .back .link {
    border-top: solid 1px #f3f3f3;
    height: 50px;
    line-height: 50px;
  }

  .projects__card .back .link a {
    color: #f3f3f3;
  }
  .projects__card .back h3 {
    font-size: 25px;
    margin-top: 20px;
    letter-spacing: 2px;
  }
  .projects__card .back p {
    letter-spacing: 1px;
    font-size: 14px;
  }
  .projects__card:hover .front {
    transform: perspective(600px) rotateY(180deg);
  }
  .projects__card:hover .back {
    transform: perspective(600px) rotateY(360deg);
  }
  .abrir {
    transform: translateX(0%);
    transition: all 1.5s;
  }
  .x1 {
    width: 350px;
    transform: translateX(-150%);
  }
  .x2 {
    width: 350px;
    transform: translateX(-350%);
  }
  .x3 {
    width: 350px;
    transform: translateX(-400%);
  }
  .x4 {
    width: 350px;
    transform: translateX(-150%);
  }
}
/**************************************************/
/**************************************************/
@media (min-width: 551px) and (max-width: 800px) {
  * {
    box-sizing: border-box;
  }

  .projects {
    background-color: black;
    height: 100%;
    color: aliceblue;
    font-family: "Caladea", serif;
  }

  h1,
  h2,
  h3 {
    margin: 0;
    padding: 0;
  }
  .header {
    width: 100%;
    height: 8vh;
    margin: 0;
    padding: 0;
    background-color: black;
  }
  .container {
    display: flex;
    height: 100%;
    align-items: center;
    justify-content: center;
    margin-top: 30px;
  }
  .projects__contain {
    height: 100%;
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    margin-right: 0;
    margin-left: 0;
    flex-direction: column;
  }
  .projects__card {
    width: 350px;
    height: 350px;
    margin: 20px;
    z-index: 2;
  }
  .projects__card .face {
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    border-radius: 10px;
    overflow: hidden;
    transition: 0.5s;
  }
  .projects__card .front {
    transform: perspective(600px) rotateY(0deg);
    box-shadow: 0 5px 15px 8px rgb(0, 0, 0);
  }
  .projects__card .front .im {
    width: 100%;
    height: 100%;
    object-fit: fill;
  }
  .projects__card .front h3 {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 45px;
    line-height: 45px;
    color: #fff;
    background: rgba(0, 0, 0, 0.4);
    text-align: center;
    font-size: 24px;
  }
  .projects__card .back {
    transform: perspective(600px) rotateY(180deg);
    background: rgb(3, 35, 54);
    color: #f3f3f3;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-align: center;
    box-shadow: 0 5px 15px 8px rgb(0, 0, 0);
  }
  .projects__card .back .link {
    border-top: solid 1px #f3f3f3;
    height: 50px;
    line-height: 50px;
  }

  .projects__card .back .link a {
    color: #f3f3f3;
  }
  .projects__card .back h3 {
    font-size: 28px;
    margin-top: 20px;
    letter-spacing: 2px;
  }
  .projects__card .back p {
    letter-spacing: 1px;
    font-size: 16px;
  }
  .projects__card:hover .front {
    transform: perspective(600px) rotateY(180deg);
  }
  .projects__card:hover .back {
    transform: perspective(600px) rotateY(360deg);
  }
  .abrir {
    transform: translateX(0%);
    transition: all 1.5s;
  }
  .x1 {
    width: 350px;
    transform: translateX(-250%);
  }
  .x2 {
    width: 350px;
    transform: translateX(-450%);
  }
  .x3 {
    width: 350px;
    transform: translateX(-500%);
  }
  .x4 {
    width: 350px;
    transform: translateX(-250%);
  }
}
/**********************************************/
/**********************************************/
@media (min-width: 801px) and (max-width: 1000px) {
  * {
    box-sizing: border-box;
  }

  .projects {
    background-color: black;
    height: 100%;
    color: aliceblue;
    font-family: "Caladea", serif;
  }

  h1,
  h2,
  h3 {
    margin: 0;
    padding: 0;
  }
  .header {
    width: 100%;
    height: 8vh;
    margin: 0;
    padding: 0;
    background-color: black;
  }
  .container {
    display: flex;
    height: 100%;
    align-items: center;
    justify-content: center;
    margin-top: 30px;
  }
  .projects__contain {
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin-right: 5%;
    margin-left: 5%;
    /* flex-direction: column; */
    margin-bottom: 40px;
  }
  .projects__card {
    position: relative;
    width: 350px;
    height: 350px;
    margin: 20px;
    z-index: 2;
  }
  .projects__card .face {
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    border-radius: 10px;
    overflow: hidden;
    transition: 0.5s;
  }
  .projects__card .front {
    transform: perspective(600px) rotateY(0deg);
    box-shadow: 0 5px 15px 8px rgb(0, 0, 0);
  }
  .projects__card .front .im {
    width: 100%;
    height: 100%;
    object-fit: fill;
  }
  .projects__card .front h3 {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 45px;
    line-height: 45px;
    color: #fff;
    background: rgba(0, 0, 0, 0.4);
    text-align: center;
    font-size: 24px;
  }
  .projects__card .back {
    transform: perspective(600px) rotateY(180deg);
    background: rgb(3, 35, 54);
    color: #f3f3f3;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-align: center;
    box-shadow: 0 5px 15px 8px rgb(0, 0, 0);
  }
  .projects__card .back .link {
    border-top: solid 1px #f3f3f3;
    height: 50px;
    line-height: 50px;
  }

  .projects__card .back .link a {
    color: #f3f3f3;
  }
  .projects__card .back h3 {
    font-size: 28px;
    margin-top: 20px;
    letter-spacing: 2px;
  }
  .projects__card .back p {
    letter-spacing: 1px;
    font-size: 16px;
  }
  .projects__card:hover .front {
    transform: perspective(600px) rotateY(180deg);
  }
  .projects__card:hover .back {
    transform: perspective(600px) rotateY(360deg);
  }
  .abrir {
    transform: translateX(0%);
    transition: all 1.5s;
  }
  .x1 {
    width: 350px;
    transform: translateX(-250%);
  }
  .x2 {
    width: 350px;
    transform: translateX(-450%);
  }
  .x3 {
    width: 350px;
    transform: translateX(-500%);
  }
  .x4 {
    width: 350px;
    transform: translateX(-250%);
  }
}

@media screen and (min-device-height: 700px) and (max-device-height: 899px) {
  .projects__card .back .link a {
    font-size: 40px;
  }
  .projects__card .back h3 {
    font-size: 25px;
    margin-top: 18px;
    letter-spacing: 2px;
  }
  .projects__card .back p {
    letter-spacing: 1px;
    margin-left: 8px;
    margin-right: 8px;
    font-size: 13px;
  }
  .projects__card .front img {
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}
